<div id="group-page" style="position: relative;">

        <!-- Navigation -->
        <px-navigation-menu></px-navigation-menu>

        <!-- Toolbar -->
        <mat-toolbar color="accent">
            <span class="toolbar-title">
                Potkategorija: {{group.name}}
            </span>
        </mat-toolbar>

        <!-- Category products -->
        <div class="row">

            <div class="col-md-1"></div>

            <!-- product list -->
            <div class="category-info col-sm-12 col-md-7 col-lg-8 ">
                <div class="group-products">
                    <br>

                    <!-- Cards -->
                    <div
                        class="cards"
                        [ngStyle]="{ 'text-align': (screenSize === 'small' ? 'center' : 'left') }">
                        <mat-card
                            *ngFor="let product of productList; let i = index"
                            (click)="goToProduct(product.slug)">
                            <!-- Title -->
                            <mat-card-title>  {{ product.name }} </mat-card-title>
                            <!-- Image -->
                            <div class="image-wrapper">
                                <img mat-card-image [src]="product.image">
                            </div>
                            <br>
                            <!-- Button -->
                            <mat-card-actions>
                                <button mat-raised-button color="accent">Izaberi</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                    <!-- No products -->
                    <p class="no-results" *ngIf="productList.length === 0">
                        Nema ubačenih proizvoda za ovu kategoriju
                    </p>
                </div>
            </div>

            <!-- Side Menu -->
            <div class="col-sm-12 col-md-4 col-lg-3 sidebar">
                <!-- groups -->
                <ul class="list">
                    <li class="headline" (click)="goToProducts()">Sve kategorije</li>
                    <li class="category"
                        *ngFor="let cat of categoryList; let i = index"
                        (click)="goToCategory(cat.slug)">
                        <ng-container>
                            {{cat.name}}
                        </ng-container>
                    </li>
                </ul>
            </div>

        </div>


        <br>

    </div>
