<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>


<div class="row sidemenu-height">
    <div class="col-sm-12 col-md-8 col-lg-9 pr0">
        <!-- Tolbar -->
        <mat-toolbar color="accent">
            <mat-toolbar-row>
                <span class="toolbar-title">Galerija slika</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <!-- Gallery -->

        <div class="galleries" *ngFor="let gallery of galleryList; let gi = index;">
            <h4 class="gallery-title"> {{ gallery }} </h4>
            <div class="gallery-wrapper" >
                <ng-container *ngFor="let image of imagesArray; let ii = index" >
                    <div *ngIf="image.gallery === gallery"
                        class="image-frame"
                        (click)="onSelectImage(ii, gi)">
                        <img
                            [src]="image.imagePath"
                            [alt]="image.gallery"
                            class="gallery-image">
                    </div>
                </ng-container>
            </div>
        </div>


        <!-- Modal -->
        <div 
            class="gallery-modal" 
            *ngIf="isGalleryModalOpen" 
            (click)="OnCloseGallery()">
            <!-- Image -->
            <div class="selected-image">
                <img [src]="selectedImagePath" alt="image modal">
            </div>
            <!-- Previous -->
            <div class="left"  
            (click)="onPreviousImage($event)"
            *ngIf="filteredArray.length > 1">
                <span> 
                    < 
                </span>
            </div>
            <!-- Next -->
            <div class="right"  
            (click)="onNextImage($event)"
            *ngIf="filteredArray.length > 1">
                <span> 
                    > 
                </span>
            </div>
        </div>
    </div>
    
    <!-- Side Menu -->
    <div class="col-sm-12 col-md-4 col-lg-3 sidemenu">
        <px-sidemenu></px-sidemenu>
    </div>
</div>
    