@import "src/px-material-theme.scss";

/* MODAL */
div.gallery-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9990;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  @media #{$screen-sm} {
    padding: 15px;
  }
  margin: 0;
  text-align: center;
  .selected-image {
    font-size: 30px;
    &.selected-image {
      img {
        max-width: 90%;
      }
    }
  }
  .left {
    background: rgba(124, 158, 172, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 50vw;
    z-index: 9999;
    cursor: pointer;
    left: 0;
    bottom: 0;
    height: 75px;
    @media #{$screen-sm} {
      height: 50px;
    }
    &:hover {
      background: rgba(124, 158, 172, 0.8);
    }
  }
  .right {
    background: rgba(201, 183, 183, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50vw;
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;
    height: 75px;
    @media #{$screen-sm} {
      height: 50px;
    }
    &:hover {
      background: rgba(201, 183, 183, 0.8);
    }
  }

  span.close-modal {
    position: absolute;
    user-select: none;
    top: 20px;
    right: 20px;
    color: red;
    font-size: 40px;
    cursor: pointer;
    &:hover {
      color: rgb(252, 93, 93);
    }
  }
}

/* SWIPPER */

.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  box-sizing: border-box;
  width: 1800px;
  height: 1800px;
  max-width: 95%;
  max-height: 95%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;
  color: #555;
  background-color: #eee;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.25);
  @media #{$screen-md} {
    max-width: 100%;
    max-height: 100%;
  }
}

.content-container {
  position: relative;
  overflow: auto;
  height: 1800px;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  margin: auto;
  border-radius: 4px;
}

.action-container {
  padding: 16px;
}

.horizontal-container {
  min-height: 0 !important;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #eee;
}

swiper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* HORIZONTAL */
.galleries {
  position: relative;
  height: 300px;
  --parentWidth: calc(70vw);
  @media (max-width: 1000px) {
    --parentWidth: calc(60vw);
  }
  @media (max-width: 770px) {
    --parentWidth: calc(90vw);
  }
  width: var(--parentWidth);
  margin: 0 20px;
}

.gallery-title {
  max-width: 90vw;
  margin-top: 20px;
  color: $px-material-accent;
  border-bottom: 2px solid $px-material-accent;
  font-size: 20px;
  text-transform: uppercase;
}

img.gallery-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 40px;
  left: 0;
  width: calc(210px + 1px);
  max-height: var(--parentWidth);
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-210px);
  transform-origin: right top;
  padding: 195px 0 0 0;
}

.horizontal-scroll-wrapper .image-frame {
  width: 210px;
  height: 210px;
  margin: 10px 0;
  display: block;
  padding: 5px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top;
  transform-origin: right top;
}

/* Youtube videos */
.youtube-wrapper {
  iframe {
    margin: 20px;
    max-width: 90vw;
  }
}
