@import "src/px-material-theme.scss";

.gallery-title {
    max-width: 90vw;
    margin-left: 5vw;
    margin-top: 60px;
    color: $px-material-dark;
    border-bottom: 2px solid $px-material-primary;
    text-transform: uppercase;
}

.gallery-wrapper {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
    max-width: 90vw;
    margin-left: 5vw;
}

.image-frame {
    border: 2px solid gray;
    box-shadow: 2px 2px 20px 2px gray;
    padding: 0;
    height: 100px;
    margin: 10px;
}

img.gallery-image {
    height: 100px;
    cursor: pointer;
    &:hover {
        filter: grayscale(0.5);
        transition: filter 0.7s ease-in-out;
    }
}

div.gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9990;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 0;
    text-align: center;
    .selected-image {
        font-size: 30px;
        &.selected-image {
            img {
                max-width: 90%;
            }
        }
    }
    .left {
        background: rgba(124, 158, 172, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 50vw;
        z-index: 9999;
        cursor: pointer;
        left: 0;
        bottom: 0;
        height: 75px;
        @media #{$screen-sm} {
            height: 50px;
        }
        &:hover {
            background: rgba(124, 158, 172, 0.8);
        }
    }
    .right {
        background: rgba(201, 183, 183, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 50vw;
        position: fixed;
        z-index: 9999;
        right: 0;
        bottom: 0;
        height: 75px;
        @media #{$screen-sm} {
            height: 50px;
        }
        &:hover {
            background: rgba(201, 183, 183, 0.8);
        }
    }
    span {
        font-size: 40px;
        user-select: none;
        color: white;
        &:hover {
            color: rgb(209, 207, 207);
        }
    }
}


