<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>


<div class="row sidemenu-height">
    <div class="col-sm-12 col-md-8 col-lg-9 pr0">
        <!-- Tolbar -->
        <mat-toolbar color="accent">
            <mat-toolbar-row>
                <span class="toolbar-title">Galerija slika</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="galleries" *ngFor="let gallery of galleryList; let gi = index;">
            <h4 class="gallery-title"> {{ gallery }} </h4>
            <div class="gallery-wrapper" >
                <ng-container *ngFor="let image of imagesArray; let ii = index" >
                    <div *ngIf="image.gallery === gallery"
                        class="image-frame"
                        (click)="onSelectImage(ii, gi)">
                        <img
                            [src]="image.imagePath"
                            [alt]="image.gallery"
                            class="gallery-image">
                    </div>
                </ng-container>
            </div>
            <br>
            <br>
        </div>


        <!-- Swipper Modal -->
        <div 
          class="gallery-modal" 
          *ngIf="isGalleryModalOpen" 
          (keydown.esc)="OnCloseGallery()"
          (click)="OnCloseGallery()">
          
          <div 
            class="box-container"
            (click)="$event.stopPropagation()">
            <div class="content-container">
              <swiper 
                class="swiper-container"
                [config]="config"
                [(index)]="selectedImageIndex">
                <div *ngFor="let slide of filteredArray" class="swiper-slide">
                  <img [src]="slide.imagePath" alt="image modal">
                </div>
              </swiper>
            </div>
          </div>
      </div>
    </div>
    
    <!-- Side Menu -->
    <div class="col-sm-12 col-md-4 col-lg-3 sidemenu">
        <px-sidemenu></px-sidemenu>
    </div>
</div>
    