@import "src/px-material-theme.scss";

.slider {
	position: relative;
}

.px-carousel {
	height: 26vw;
	position: relative;
	.banner {
		width: 100vw;
		height: 26vw;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	h3 {
		color: rgb(235, 235, 235);
		font-size: 32px;
		position: absolute;
		top: calc(26vw - 120px);
		width: 100vw;
		text-align: center;
		text-shadow: 1px 1px gray;
	}
	p {
		color: rgb(255, 246, 246);
		font-size: 20px;
		position: absolute;
		top: calc(26vw - 70px);
		width: 100vw;
		text-align: center;
		text-shadow: 1px 1px gray;
		vertical-align: top;
	}
}

.content {
	background: white;
	padding-left: 33px;
	@media #{$screen-sm} {
		padding-right: 33px;
	}
}

/* Top Product */
.top-product-wrapper {
	margin: 50px 0;
	padding: 25px 40px 40px 40px;
	background: white;
	box-shadow: 1px 1px 20px 1px lightgray;
	h4.breaking-news {
		padding: 10px;
		text-transform: uppercase;
		color: $px-material-accent;
		letter-spacing: 1px;
		text-align: left;
		border-top: 2px solid $px-material-accent;
		@media #{$screen-xs} {
			font-size: 16px;
		}
	}
	.up-down {
		animation: updown 1s linear infinite, blinker 1s linear infinite;
	}
}

.top-product-box {
	.wrapper-product {
		margin-bottom: 10px;
		border: 1px solid lightgray;
		text-align: center;
		cursor: pointer;
		h6 {
			img {
				max-height: 40px;
			}
			&.text {
				&.cart {
					color: $px-material-primary;
					span {
						font-size: 18px;
					}
				}
				&:hover {
					background: lightgray;
				}
			}
			&.image {
				margin: 0;
				padding: 0;
			}
		}
		&:hover {
			box-shadow: 1px 1px 20px 1px lightgray;
			h5 {
				animation: increase 0.2s linear forwards;
			}
		}
	}
	.product-image-wrapper {
		display: flex;
		height: 150px;
		padding: 10px;
		align-items: center;
		justify-content: center;
		text-align: center;
		overflow: hidden;
		img {
			margin-top: 10px;
			height: 140px;
			width: 200px;
			object-fit: contain;
		}
	}
	.product-name {
		border-bottom: 2px solid $px-material-primary;
		color: $px-material-primary;
		margin-top: 20px;
		font-size: 15px;
		padding-bottom: 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.product-info-wrapper h6 {
		font-size: 15px;
		margin: 0 0 5px 0;
		padding: 7px 12px;
		border-radius: 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.item-image {
	width: 100vw;
}

/* Animations */
@keyframes blinker {
	50% {
		color: $px-material-accent;
	}
}

@keyframes updown {
	50% {
		transform: translate(0, 3px);
	}
}

@keyframes increase {
	100% {
		transform: scale(1.03);
	}
}
