@import "src/px-material-theme.scss";

/* Info */
.employment-wrapper {
  padding: 20px;
  box-sizing: border-box;
}

.info-table {
  padding: 10px;
}

h4 {
  font-size: 22px;
  padding-bottom: 7px;
  border-bottom: 1px solid #b60303;
}

table {
  td {
    vertical-align: middle;
    padding: 10px 10px;
    font-size: 18px;
    @media screen and (max-width: 1400px) {
      padding: 10px;
      font-size: 14px;
    }
  }
  mat-icon {
    color: #b60303;
    font-size: 30px;
  }
}

.instagram {
  margin-left: -90px;
}

.employment-form mat-form-field {
  @media screen and (max-width: 700px) {
    min-width: 100%;
  }
}

.textarea {
  width: 831px;
  max-width: 100%;
}

.send-message {
  width: 831px;
  max-width: 100%;
  margin-left: 10px;
}

.employment-images {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  img {
    margin: 10px;
    height: 250px;
  }
}

.inline {
  display: inline-block;
  margin: 0;
  padding: 0;
}
