<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>


<div class="row sidemenu-height">
	<div class="col-sm-12 col-md-8 col-lg-9 pr0">

		<!-- Tolbar -->
		<mat-toolbar color="accent">
			<mat-toolbar-row>
				<span class="toolbar-title">Servis</span>
			</mat-toolbar-row>
		</mat-toolbar>

		<div class="service-images">
			<img src="./assets/servis/servis_1.jpg" alt="servis 1">
			<img src="./assets/servis/servis_2.jpg" alt="servis 2">
			<img src="./assets/servis/servis_4.jpg" alt="servis 3">
		</div>

		<div class="service-text">
			<p>Radimo <strong>servisiranje</strong>:</p>
			<ul>
				<li>televizora (LED, LCD),</li>
				<li>monitora,</li>
				<li>audio uređaja,</li>
				<li>video nadzora,</li>
				<li>motora za kapiju,</li>
				<li>alarma,</li>
				<li>interfona...</li>
			</ul>
			<hr>
			<p>
				Prilikom dostavljanja vašeg uređaja u servis u roku od 1 do 3 dana dobijate informaciju da li vaš uređaj može da se popravi i koja bi cena bila za te usluge.
				Kada je specifičan kvar i potrebno je nabaviti specifičan deo servisiranje može da traje i do 30 dana uz vašu saglasnost , određene intervencije se rešavaju od 1 do 3  dana.
				Servisiranje vršimo na teritoriji Kragujevca i okoline.
				Call centar 064 306 95 92 
				<a class="call" routerLink="/kontakt">
						<img src=" assets\icons\call.png" alt="call" title="Pozovi">
				</a>
			</p>
			<hr>
			<p>
				<i>
					Preko 30 godina iskustva u servisiranju elektronskih uređaja (pretvarača, programatora, ploče za gasne kotlove, Li-on baterije za akumulatorske uređaje)
				</i>
			</p>
		</div>
	</div>

	<!-- Side Menu -->
	<div class="col-sm-12 col-md-4 col-lg-3 sidemenu">
		<px-sidemenu></px-sidemenu>
	</div>
</div>