.service-text {
	text-align: center;
	padding: 10px 50px;
	p {
		padding: 5px 15px;
		font-size: 20px;
		text-align: justify;
		text-justify: inter-word;
		i {
			padding-top: 10px;
		}
	}
	ul {
		list-style-type: none;
		margin-left: 30px;
	}
	li {
		padding: 0px 15px;
		text-align: justify;
		font-size: 20px;
		&:before {
			content: '✓ ';
			color: rgb(31, 194, 31);
			margin-right: 10px;
		}
	}
}

.service-images {
	text-align: center;
	img {
		margin: 10px;
		height: 150px;
	}
}
