<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>

<div class="row sidemenu-height">
    <div class="col-sm-12 col-md-8 col-lg-9 pr0">
        <!-- Tolbar -->
        <mat-toolbar color="accent">
            <mat-toolbar-row>
                <span class="toolbar-title">Info</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <br>
        <div class="info-wrapper">
            
        <h5>Poštovani kupci, ovom prilikom želimo da Vas informišemo o pravilima kupovine i vašim pravima</h5>

        <hr>
    
        <p class="question">
            Kako da kupujem?
        </p>

        <p class="answer">
            Kupovinu možete izvšiti na tri načina : lično , putem sajta (online) , telefonom
            Proizvodi koje odaberete se smeštaju u moju korpu , gde još jednom možete izvršiti proveru proizvoda koje želite da kupite. Posle toga dajete nam kontakt adresu,telefon,mail i možete nam postaviti određena pitanja. U svakom slučaju će vas neko od nas kontaktirati da potvrdi proudžbinu i uputi vas ili posavetuje oko nekih određenih detalja. Nakon potvrđene porudžbine rok isporuke je od 1 do 3 radna dana
        </p>
        
        <hr>
        <p class="question">Kako da platim?</p>
        <p class="answer">
            Plaćanje se vrši uplatom na račun ili pouzećem kurirskoj službi. Troškove kupovine kompletne opreme i pojedinačne kupovine u iznosu od 25.000 din. Snosi prodavac (Electro Vision) , dok troškove ispod 25.000 din plaća kupac. Na teritoriji grada Kragujevca i okoline do 15  km besplatna je isporuka
            </p>
        
            <hr>
        <p class="question">Kako funkcioniše dostava?</p>
        <p class="answer">
            Dostavu na teritoriji Kragujevca isporučujemo mi i usluga je besplatna za kupovinu preko 5.000 din. Ispod 5.000 din plaća se dostava 500 din. Kupovina je moguća na teritoriji cele Srbije , dostavu vršimo preko kurirske službe . Isporuka za kupovinu komplet opreme i proizvoda ukupne vrednosti preko 25.000 din je besplatna , a ispod 25.000 din troškove snosi kupac. Unapred javljamo koliki će biti troškovi kurirske službe u zavisnosti od težine paketa.</p>
        
            <hr>
        <p class="question">Kako da reklamiram robu?</p>
        <p class="answer">
            Molimo Vas da proizvod odmah proverite nakon isporuke od strane brze pošte . Rok za vraćanje je 14 dana. Samo pod uslovima da je pogrešno poslata roba ili je uređaj neispravan, ili je polomljeno prilikom transporta . Ukoliko je uređaj polomljen istog dana kada vam stigne proizvod pošaljite nam sliku. Troškove će snositi prodavac (Electro Vision) . Ukoliko vam iz nekog drugog razloga nešto ne odgovara i želite da vratite robu , sve troškove povrata snosi kupac . Za svu robu dobijate pismenu garanciju 2 godine , sa datumom kupovine. U slučaju reklamacije proizvod nam šaljete i mi snosimo troškove transporta u oba smera .
            Garantni rok za sve uređaje je 2 godine. Uz proizvod dobićete naš garantni list sa datumom kupovine od tog datuma garancija važi naredne 2 godine. U slučaju kvara ili promene u kvalitetu rada proizvoda . Kontaktirate nas telefonom i uz dalji dogovor rešavamo problem sa reklamacijom. Reklamirani proizvod donosite lično ili šaljete kurirskom službom uz naše troškove ukoliko je greška do uređaja. Rok za koji vas obaveštvamo u kom je trenutno procesu servisiranja vaš proizvod je 8 dana a najdalji rok za koji moramo rešiti reklamaciju je 30 dana. U koliko se tehničkim ispitivanjem utvrdi da je proizvod ispravan kupac snosi troškove kurirske službe i refundira novac prilikom prvog slanja. Garancija se neće uvažiti u slučaju ne sturčno instaliranog uređaja i u slučaju strujnih udara.Te stvari ne podležu garanciji.</p>
        
        
         <hr>
        <p class="question">Kako da izvršim povraćaj robe?</p>
        <p class="answer">
            Krajnji kupac zakonski može u slučaju poručivanja putem WEB-a vratiti robu u roku od 14 dana od preuzimanja artikla, slanjem robe kurirskom službom. U tom slučaju se obračunavaju i radni i neradni dani. Troškove snosi kupac. Zbog pogrešne odluke kupovine. 

            Drugi slučaj je da je kupac dobio pogrešan artikal i da ne želi da mu se proizvod zameni u roku od 14 dana. Troškove snosi prodavac (Electro Vision) zbog greške prilikom slanja robe.
            Nakon isteka 14og dana nije moguće izvršiti povraćaj novca i robe , osim uz odobrenje da je uređaj neispravan uz potvrdu servisa da kvar nije nastao usled nestručnog povezivanja sistema.</p>
          
        <hr>  
        <p class="question">Izgubio sam garanciju, kako da reklamiram proizvod?</p>

        <p class="answer">
            Sve garancije imamo u našoj bazi podataka , ako ste kupovinu izvršili kod nas ne brinite oko reklamiranja proizvoda. Garantni list koji dobijate je čisto vaša evidencija da znate koliko vam traje garancija.
            Da li mogu sam da povežem sistem ?
            Preporučujemo da instalaciju obavi stručno lice za instalaciju sistema tehničke zaštite , automatizacije i elektronike. Ukoliko sami povezujete sistem budite u stalnom kontaktu sa nama i nekim stručnim licem oko instalacije. U slučaju pogrešnog povezivanja gubite pravo na redovnu garanciju. Uređaj posle toga može da se servisira ali će servis biti naplačen.
            U slučaju iznenadnog odustajanja u poslednjem trenutku a roba je već na putu ka vama , snosite troškove kurirske službe.
            Vršimo usluge instalacije sistema (video nadzor,alarmi,automatizacija kapija i rampi,interfone,kontrolu pristupa,rasvete,ozvučenja) na teritoriji Kragujevca i Šumadijskog regiona. Za sve kupce na teritoriji cele Srbije nudimo stručnu i tehničku podršku u svakom trenutku.</p>

        <hr>  
        <h5>Hvala na poverenju!</h5>
        </div>
    </div>
    
    <!-- Side Menu -->
    <div class="col-sm-12 col-md-4 col-lg-3 sidemenu">
        <px-sidemenu></px-sidemenu>
    </div>
</div>
    
    
