<div class="row sidemenu-height">

  <div class="col-sm-12 pr0">

    <!-- Tolbar -->
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span class="toolbar-title"> Predračun</span>
        <span class="toolbar-spacer"></span>
        <button class="clear-button"
          *ngIf="pdfService.pdfList?.length"
          (click)="clearCart()"
          mat-stroked-button>
          <mat-icon>delete_forever</mat-icon>
          Isprazni predračun
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- Add -->
    <div class="cart-wrapper"
      #cartTable>

      <mat-form-field>
        <mat-label>Lista artikala</mat-label>

        <input type="text"
          placeholder="Izaberi artikal"
          matInput
          [formControl]="searchInput"
          [matAutocomplete]="auto">

        <mat-autocomplete autoActiveFirstOption
          #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions$ | async"
            [value]="option.name">
            <span style="color: #5654ee">{{option.catalog}} - </span>
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <button mat-raised-button
        (click)="addArticle()"
        color="primary">Dodaj artikal</button>

      <table class="cart-table"
        mat-table
        [dataSource]="pdfService.pdfList">

        <!-- Count -->
        <ng-container matColumnDef="index">
          <th mat-header-cell
            *matHeaderCellDef> R.br.</th>
          <td mat-cell
            *matCellDef="let element; let i = index">
            {{i + 1}}
          </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell
            *matHeaderCellDef>Slika</th>
          <td mat-cell
            *matCellDef="let element">
            <img class="product-image"
              *ngIf="element.image"
              [src]="element.image"
              [alt]="element.image">
          </td>
        </ng-container>

        <!-- Catalog -->
        <ng-container matColumnDef="catalog">
          <th mat-header-cell
            *matHeaderCellDef> Šifra </th>
          <td mat-cell
            *matCellDef="let element"> {{element.catalog}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell
            *matHeaderCellDef> Proizvod </th>
          <td mat-cell
            *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell
            *matHeaderCellDef> Cena </th>
          <td mat-cell
            *matCellDef="let element"> {{element.price | number }} </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell
            *matHeaderCellDef> Količina </th>
          <td mat-cell
            *matCellDef="let element">
            <div class="amount-wrapper">
              <mat-icon (click)="element.amount = decreaseAmount(element)">
                remove</mat-icon>
              <span class="amount">{{element.amount}}</span>
              <mat-icon (click)="element.amount = increaseAmount(element)">
                add</mat-icon>
            </div>
          </td>
        </ng-container>

        <!-- Total Price Column -->
        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell
            *matHeaderCellDef> Standardna cena </th>
          <td mat-cell
            *matCellDef="let element">
            {{calculatePrice(element.amount, element.price)}} </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="rabat">
          <th mat-header-cell
            *matHeaderCellDef> Rabat (%) </th>
          <td mat-cell
            *matCellDef="let element">
            <div class="amount-wrapper">
              <mat-icon (click)="element.rabat = decreaseRabat(element)">
                remove</mat-icon>
              <span class="amount">{{element.rabat}}</span>
              <mat-icon (click)="element.rabat = increaseRabat(element)">
                add</mat-icon>
            </div>
          </td>
        </ng-container>

        <!-- Total Price Column -->
        <ng-container matColumnDef="priceAfterRabat">
          <th mat-header-cell
            *matHeaderCellDef> Konačna cena </th>
          <td mat-cell
            *matCellDef="let element">
            {{calculatePriceAfterRabat(element) | number}} RSD </td>
        </ng-container>

        <!-- Remove Column -->
        <ng-container matColumnDef="remove">
          <th mat-header-cell
            *matHeaderCellDef> </th>
          <td mat-cell
            *matCellDef="let element">

            <button class="remove-button"
              mat-button
              (click)="removeFromCart(element._id)">
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

    <!-- Order -->
    <h3 class="total-price">
      Ukupno: {{getTotalPrice()}}
    </h3>
    <div class="order">
      <button class="order-button"
        *ngIf="pdfService.pdfList?.length"
        (click)="exportPDF()"
        mat-raised-button
        color="accent">PDF predračun
      </button>
    </div>


    <br>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Podaci kupca</mat-label>
      <textarea matInput
        [formControl]="buyerInput"
        rows="4"
        placeholder="Maximum 4 reda">
          </textarea>
    </mat-form-field>
  </div>

</div>