<!-- Navigation Menu -->
<px-navigation-menu></px-navigation-menu>

<!-- Sidemenu -->
<div class="row sidemenu-height">
  <div class="col-sm-12 col-md-8 col-lg-9 pr0">

    <!-- Toolbar -->
    <mat-toolbar color="accent" *ngIf="headline">
      <span class="toolbar-title">
        {{headline}}
      </span>
      <span class="toolbar-spacer"></span>
      <button *ngIf="currentLevel !== 'kategorije'" class="back-button" mat-stroked-button (click)="goStepBack();">
        <mat-icon>arrow_back_ios</mat-icon>
        {{ backButtontext }}
      </button>
    </mat-toolbar>

    <!-- Stepper -->
    <div class="step-buttons" [ngStyle]="{ 'text-align': (screenSize === 'small' ? 'center' : 'left') }">
      <button mat-raised-button [color]=" currentLevel === 'kategorije' ? 'primary' : '' "
        (click)="goBackToCategoryLevel();">
        1. Sve kategorije
      </button>
      <button 
        mat-raised-button
        [disabled]="currentLevel === 'kategorije'"
        (click)="goBackToGroupLevel();"
        [color]=" currentLevel === 'potkategorije' ? 'primary' : '' ">
        2.
        <span *ngIf="currentName && currentLevel === 'potkategorije'">{{ currentName }}</span>
        <span *ngIf="currentLevel === 'kategorije'">Potkategorije</span>
        <span *ngIf="lastCategory && currentLevel === 'proizvodi'">{{ lastCategory.name }} </span>
      </button>
      <button mat-raised-button [disabled]="currentLevel !== 'proizvodi'"
        [color]=" currentLevel === 'proizvodi' ? 'primary' : '' ">
        3.
        <span *ngIf="currentLevel === 'proizvodi'">{{ currentName }} </span>
        <span *ngIf="currentLevel !== 'proizvodi'">Proizvodi</span>
      </button>
      <!-- Brand Dropdown -->
      <mat-form-field class="brand-list-wrapper">
        <mat-select placeholder="Izaberi brend" [(ngModel)]="currentBrand">
          <mat-option [value]="" style="background: lightblue" (click)="filterByBrand()">
            Svi brendovi
          </mat-option>
          <mat-option [value]="brand.slug" *ngFor="let brand of brandList" (click)="filterByBrand(brand.slug)">
            {{ brand.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- No content -->
    <div class="no-content" *ngIf="currentList?.length < 1">
      <h6> Izvinjavamo se. Nema proizvoda u ovoj kategoriji... </h6>
    </div>

    <!-- Cards -->
    <div class="cards" [ngStyle]="{ 'text-align': (screenSize === 'small' ? 'center' : 'left') }">
      <mat-card (click)="goForward(item);"
        *ngFor="let item of currentList | slice: firstItemOnPage : (firstItemOnPage + itemsPerPage) ">
        <!-- Title -->
        <mat-card-title> {{ item.name }} </mat-card-title>
        <!-- Image -->
        <div class="image-wrapper">
          <img mat-card-image [src]="item.image">
        </div>
        <br>
        <!-- Button -->
        <mat-card-actions>
          <button *ngIf="currentLevel === 'proizvodi'" mat-raised-button color="primary" class="cart-button" 
          (click)="addToCart($event, item._id)">
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button *ngIf="item.price" mat-raised-button color="warn">
            {{item.price}}
          </button>
          <button mat-raised-button color="accent">
            Detaljnije
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- Paginator -->
    <div class="page-paginator" *ngIf=" currentLevel === 'proizvodi' ">

      <span class="page-picker">
        Proizvoda po stranici:
        <select [(ngModel)]="itemsPerPage" (ngModelChange)="subscribeToPageChanges($event)">
          <option value="6">6</option>
          <option value="12">12</option>
          <option value="24">24</option>
          <option value="48">48</option>
          <option value="96">96</option>
        </select>
      </span>
      <span class="page-numerator" *ngIf="pages.length > 1">
        Izaberi stranu:
        <button 
          mat-icon-button
          *ngFor="let page of pages"
          [ngClass]="{'active-page': (page*itemsPerPage === firstItemOnPage)}"
          (click)="setPage(page)">
          {{page + 1}}
        </button>
      </span>
    </div>

  </div>

  <!-- Side Menu -->
  <div class="col-sm-12 col-md-4 col-lg-3 sidemenu">
    <px-sidemenu></px-sidemenu>
  </div>
</div>
