<!-- Navigation Menu -->
<px-navigation-menu></px-navigation-menu>

<!-- Sidemenu -->
<div class="row sidemenu-height">
  <div class="col-sm-12 col-md-8 col-lg-9 pr0">

    <!-- Toolbar -->
    <mat-toolbar color="accent"
      *ngIf="headline">
      <span class="toolbar-title">
        {{headline}}
      </span>
      <span class="toolbar-spacer"></span>
      <button *ngIf="!gridView && screenSize !== 'small'"
        (click)="setGridView(true);"
        mat-stroked-button>
        <mat-icon>view_module</mat-icon>
      </button>
      <button *ngIf="gridView && screenSize !== 'small'"
        mat-stroked-button
        (click)="setGridView(false);">
        <mat-icon>list</mat-icon>
      </button>
      <button *ngIf="currentLevel !== Levels.category"
        class="back-button"
        mat-stroked-button
        (click)="goStepBack();">
        <mat-icon>arrow_back_ios</mat-icon>
        {{ backButtontext }}
      </button>
    </mat-toolbar>

    <!-- Stepper -->
    <div class="step-buttons"
      [ngStyle]="{ 'text-align': (screenSize === 'small' ? 'center' : 'left') }">
      <button mat-raised-button
        [color]=" currentLevel === Levels.category ? 'accent' : '' "
        (click)="goBackToCategoryLevel();">
        Kategorije
      </button>
      <button mat-raised-button
        [disabled]="currentLevel === Levels.category"
        (click)="goBackToGroupLevel();"
        [color]=" currentLevel === Levels.group ? 'accent' : '' ">
        <span *ngIf="currentName && currentLevel === Levels.group">{{ currentName }}</span>
        <span *ngIf="currentLevel === Levels.category">Potkategorije</span>
        <span *ngIf="lastCategory && currentLevel === Levels.product">{{ lastCategory.name }}
        </span>
      </button>
      <button mat-raised-button
        [disabled]="currentLevel !== Levels.product"
        [color]=" currentLevel === Levels.product ? 'accent' : '' ">
        <span *ngIf="currentLevel === Levels.product">{{ currentName }} </span>
        <span *ngIf="currentLevel !== Levels.product">Proizvodi</span>
      </button>

      <div class="spacer"></div>

      <div class="drop-wrapper">
        <!-- Brand Dropdown -->
        <mat-form-field class="brand-list-wrapper"
          appearance="outline"
          *ngIf="currentLevel === Levels.product">
          <mat-select placeholder="Svi brendovi"
            [(ngModel)]="currentBrand">
            <mat-option [value]=""
              style="background: lightblue"
              (click)="filterByBrand()">
              Svi brendovi
            </mat-option>
            <mat-option [value]="brand.slug"
              *ngFor="let brand of filteredBrandList"
              (click)="filterByBrand(brand.slug)">
              {{ brand.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- SortBy Dropdown -->
        <mat-form-field class="brand-list-wrapper"
          appearance="outline"
          *ngIf="currentLevel === Levels.product">
          <mat-select placeholder="Poređaj proizvode"
            [(ngModel)]="currentSort">
            <mat-option [value]="true"
              (click)="sortProducts(true)">
              Po najvećoj ceni
            </mat-option>
            <mat-option [value]="true"
              (click)="sortProducts(false)">
              Po najnižoj ceni
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- No content -->
    <div class="no-content"
      *ngIf="currentList?.length < 1">
      <h6> Izvinjavamo se. Nema proizvoda u ovoj kategoriji... </h6>
    </div>

    <!-- Cards -->
    <div class="cards"
      *ngIf="gridView || screenSize === 'small'"
      [ngStyle]="{ 'text-align': (screenSize === 'small' ? 'center' : 'left') }">
      <mat-card class="search-card"
        [ngStyle]="{ 'min-height': (currentLevel === Levels.product ? '350px' : '300px') }"
        *ngFor="let item of currentList | slice: firstItemOnPage : (firstItemOnPage + itemsPerPage); index as index ">
        <!-- Title -->
        <mat-card-title (click)="goForward(item);"> {{ item.name }} </mat-card-title>
        <!-- Image -->
        <div class="image-wrapper"
          (click)="goForward(item);">
          <img mat-card-image
            [src]="item.image">
        </div>
        <br>
        <!-- Button -->
        <mat-card-actions *ngIf="currentLevel === Levels.product">
          <button class="price"
            mat-flat-button
            color="primary">
            <span>{{item.price || 'nema cene'}}</span>
          </button>
          <button mat-stroked-button
            disableRipple
            class="add-to-cart"
            (click)="addToCart(item._id, count.value)">
            <input type="number"
              class="add-to-cart-input"
              #count
              (click)="$event.stopPropagation()"
              value="1">
            <mat-icon>shopping_cart</mat-icon>
            Dodaj u korpu
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- List -->
    <div class="product-list-view"
      *ngIf="!gridView && screenSize !== 'small'">
      <div class="product-list-item"
        *ngFor="let item of currentList | slice: firstItemOnPage : (firstItemOnPage + itemsPerPage) ">
        <!-- Image -->
        <div class="image-wrapper"
          (click)="goForward(item);">
          <img mat-card-image
            [src]="item.image">
        </div>
        <div class="product-text">
          <!-- Title -->
          <h4 class="product-title"
            (click)="goForward(item);"> {{ item.name }} </h4>
          <p class="product-description"
            (click)="goForward(item);"> {{ item.description }} </p>
          <br>

          <!-- Button -->
          <ng-container *ngIf="currentLevel === Levels.product">
            <button class="item-price"
              mat-flat-button
              color="primary">
              <span>{{item.price || 'nema cene'}}</span>
            </button>
            <button mat-stroked-button
              disableRipple
              class="add-to-cart"
              (click)="addToCart(item._id, count.value)">
              <input type="number"
                class="add-to-cart-input"
                #count
                (click)="$event.stopPropagation()"
                value="1">
              <mat-icon>shopping_cart</mat-icon>
              Dodaj u korpu
            </button>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Paginator -->
    <div class="page-paginator"
      *ngIf=" currentLevel === Levels.product ">

      <span class="page-picker">
        Proizvoda po stranici:
        <select [(ngModel)]="itemsPerPage"
          (ngModelChange)="subscribeToPageChanges()">
          <option value="6">6</option>
          <option value="12">12</option>
          <option value="24">24</option>
          <option value="48">48</option>
          <option value="96">96</option>
        </select>
      </span>
      <span class="page-numerator"
        *ngIf="pages?.length > 1">
        Izaberi stranu:
        <button mat-icon-button
          *ngFor="let page of pages"
          [ngClass]="{'active-page': (page*itemsPerPage === firstItemOnPage)}"
          (click)="setPage(page)">
          {{page + 1}}
        </button>
      </span>
    </div>

  </div>

  <!-- Side Menu -->
  <div class="col-sm-12 col-md-4 col-lg-3 sidemenu">
    <px-sidemenu></px-sidemenu>
  </div>
</div>
