@import "src/px-material-theme.scss";

/* Image */
.product-image {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @media #{$screen-sm} {
    width: 95%;
  }
}

.product-image img.main-image {
  max-width: 100%;
  max-height: 30vh;
  height: auto;
  width: auto;
  border: 2px solid #e6e6e6;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
  @media #{$screen-sm} {
    margin: 10px 20px 10px 10px;
  }
  &:hover {
    background: white;
    transition: 0.2s linear;
  }
}

.brand-image {
  position: absolute;
  background: white;
  padding-left: 20px;
  cursor: pointer;
  top: 15px;
  right: 30px;
  width: 100px;
  height: 100px;
  @media #{$screen-lg} {
    display: none;
  }
  img {
    padding: 5px 10px;
    width: 200px;
    height: 100px;
    border: 1px solid lightgray;
    object-fit: contain;
  }
}

.breadcrumb {
  padding: 5px 10px 0 10px;
  background: transparent;
  span {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    padding: 2px;
    border-bottom: 1px solid transparent;
    color: rgb(155, 155, 155);
    &:hover {
      color: blue;
    }
  }
}

.breadcrumb fa-icon {
  color: rgb(155, 155, 155);
  cursor: default;
  font-size: 10px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
}

.product-info {
  position: relative;
  color: gray;
  padding: 10px 20px;
  @media #{$screen-sm} {
    text-align: left;
    margin-left: 5px;
  }

  h1.product-name {
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: $px-material-accent;
  }

  .price {
    padding: 0 10px 10px 10px;
    margin-bottom: 5px;
    font-size: 15px;
    span {
      color: $px-material-primary;
      font-size: 17px;
    }
  }

  .catalog {
    font-size: 14px;
    color: black;
    margin: 5px 10px;
    span {
      font-weight: bold;
    }
  }

  .description {
    font-weight: 400;
    padding: 15px 10px 10px 20px;
    font-size: 16px;
    line-height: 22px;
    color: black;
    white-space: pre-line;
    overflow-y: auto;
    max-height: 36vh;
    background: #f7f7f7;
    margin-top: 10px;
    @media #{$screen-sm} {
      width: 90vw;
      margin: 5px 1vw;
    }
  }

  .counter {
    font-size: 12px;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
  }
}

/* Gallery */
.product-gallery {
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 20px;
  h2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color: $px-material-primary;
    width: 250px;
    max-width: 90%;
    padding-bottom: 5px;
  }
  .similar-product-wrapper {
    white-space: nowrap;
    overflow: auto;
    padding: 5px;
    border: 1px solid #d7d0d0;
  }
  .product-single {
    vertical-align: top;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: gray;
    display: inline-block;
    width: 250px;
    h5 {
      max-width: 250px;
      font-size: 16px;
      overflow: hidden;
      margin: 0 -10px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:hover img {
      transform: scale(1.01);
      transition: 0.2s ease-in-out;
    }
    &:hover h5 {
      color: black;
    }
    &:hover h6 {
      background: $px-material-primary;
    }
    @media #{$screen-md} {
      width: 180px;
      h5 {
        max-width: 180px;
        font-size: 14px;
      }
    }
    @media #{$screen-sm} {
      width: 130px;
      h5 {
        max-width: 130px;
        font-size: 14px;
      }
    }
  }
  .similar-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    vertical-align: middle;
    min-height: 130px;
    margin: 5px 0;
  }
  img {
    height: 100px;
    width: 200px;
    object-fit: contain;
    overflow: hidden;
    vertical-align: middle;
    @media #{$screen-md} {
      width: 180px;
    }
    @media #{$screen-sm} {
      width: 130px;
    }
  }
}

/* Full Page Image */
.full-page-image {
  background: rgba(255, 255, 255, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    padding: 15px;
    text-align: center;
    width: auto;
    height: auto;
    max-height: 80vh;
    max-width: 80vw;
    border: 1px solid black;
    box-shadow: 1px 1px 20px 2px gray;
  }
}

.price-box {
  h6 {
    background: lighten($px-material-primary, 20);
    color: white;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 14px;
  }
}

.product-price {
  color: $px-material-primary;
  padding: 10px;
  font-size: 24px;
  vertical-align: middle;
}

.price-text {
  display: inline-block;
  margin-right: 15px;
  vertical-align: text-bottom;
}
