<!-- background -->
<div class="product-background">
</div>

<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>

<!-- Main product -->
<div class="row" *ngIf="product">
    <div class="col-lg-1">
    </div>
    <div class="product-image col-sm-12 col-md-6 col-lg-3 ">
        <img src="{{product.image}}">
    </div>
    <div class="product-info col-sm-12 col-md-6 col-lg-7">
        <!-- Product name -->
        <h1 class="product-name">{{product.name}} </h1>
        <!-- breadcrumb -->
        <h5 class="breadcrumb">
            <span (click)="goToCategory(product.category.slug)"> {{product.category.name | lowercase}} </span>
            <i class="fa fa-chevron-right" ></i>
            <span (click)="goToGroup(product.group.slug)"> {{product.group.name | lowercase}} </span>
            <i class="fa fa-chevron-right" ></i>
            <span (click)="goToBrand(product.brand.slug)"> {{product.brand.name}} </span>
        </h5>
        <!-- description -->
        <h4 class="description"> {{product.description}} </h4>
    </div>
</div>
<br>

<!-- Horizontal line -->
<hr>
<br>

<!-- Other products -->
<div class="row">
    <div class="col-sm-12 product-gallery">
        <h2 *ngIf="productList && productList.length != 0"> Slični proizvodi</h2>
        <br>
        <div class="product-single"
             *ngFor="let prod of productList; let i = index"
             (click)="goToProduct(prod.slug)">
            <div class="col-sm-12">
                <h5> {{prod.name}} </h5>
            </div>
            <div class="col-sm-12 image">
                <img *ngIf="prod.image" src="{{prod.image}}">
            </div>
        </div>
    </div>
</div>
