<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>

<div class="page-wrapper">

  <h5 class="breadcrumb"
    *ngIf="product">
    <button mat-raised-button
      (click)="goToCategory(product.category.slug)">
      {{product.category.name}}
    </button>
    <button mat-raised-button
      (click)="goToGroup(product.group.slug)">
      {{product.group?.name}}
    </button>
    <button mat-raised-button
      color="accent"
      (click)="goToBrand(product.group.slug, product.brand.slug)">
      {{product.brand.name}}
    </button>
  </h5>

  <!-- Main product -->
  <div *ngIf="product"
    class="product-wrapper"
    [ngClass]="{'flex-column': screenSize !== 'large'}">

    <!-- 1. Image -->
    <div class="product-image">
      <img class="main-image"
        [src]="product.image"
        [alt]="product.image"
        (click)="zoomImage(product.image)">
    </div>

    <!-- 2. Data -->
    <div class="product-info">

      <!-- 2.1 Main Row -->

      <div [class]="screenSize !== 'small' ? 'flex-row' : 'flex-column'">

        <div class="flex-column">
          <!-- Product name -->
          <h1 class="product-name">{{product.name}} </h1>

          <!-- catalog number -->
          <h6 class="catalog"
            *ngIf="product?.catalog">
            Kataloški broj:
            <span> {{product.catalog}}</span>
          </h6>

          <!-- Price & Cart -->
          <div class="product-price">
            <ng-container *ngIf="product?.price">
              <span class="price-text">{{product.price}}</span>
              <button mat-stroked-button
                disableRipple
                class="add-to-cart"
                (click)="addToCart(product._id, count.value)">
                <input type="number"
                  class="add-to-cart-input"
                  #count
                  (click)="$event.stopPropagation()"
                  value="1">
                <mat-icon>shopping_cart</mat-icon>
                Dodaj u korpu
              </button>
            </ng-container>
            <ng-container *ngIf="!product?.price">
              Nema cene
            </ng-container>
          </div>

        </div>
        <div class="toolbar-spacer"> </div>

        <!-- Brand image -->
        <ng-container *ngIf="product?.brand && product?.brand.image && screenSize === 'large'"
          (click)="goToBrand(product.group.slug, product.brand.slug)">
          <img class="brand-image"
            [src]="product.brand.image"
            height="40" />
        </ng-container>
      </div>

      <!-- description -->
      <h4 class="description"
        *ngIf="product?.description">
        {{product.description}} </h4>

    </div>
  </div>
  <br>

  <!-- Horizontal line -->
  <hr>
  <br>

  <!-- Similar products -->
  <div class="product-gallery"
    *ngIf="productList?.length">
    <h2> Slični proizvodi </h2>
    <div class="similar-product-wrapper">
      <div class="horizontal-scroll-wrapper squares">
        <div class="product-single"
          *ngFor="let prod of productList; let i = index"
          (click)="goToProduct(prod.slug)">
          <div>
            <h5> {{prod.name}} </h5>
          </div>
          <div class="similar-image-wrapper">
            <img *ngIf="prod.image"
              [src]="prod.image"
              [alt]="prod.image">
          </div>
          <div class="price-box">
            <h6> {{prod.price || 'nema cene'}} </h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Full Page Image -->
<div class="full-page-image"
  *ngIf="isFullPage"
  (click)="zoomImage()">
  <img [src]="fullPageImage"
    [alt]="fullPageImage">
</div>
