<h5>
  {{data ? 'Kontakt informacije': 'Slanje poruke'}}
</h5>

<form [formGroup]="orderForm">

  <mat-form-field appearance="outline" color="primary">
    <input formControlName="name" matInput placeholder="Ime i prezime" required>
  </mat-form-field>

  <mat-form-field appearance="outline" color="primary">
    <input formControlName="phone" matInput placeholder="Kontakt telefon" required>
  </mat-form-field>

  <mat-form-field appearance="outline" color="primary" *ngIf="data">
    <input formControlName="email" matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field appearance="outline" color="primary" *ngIf="data">
    <input formControlName="address" matInput placeholder="Adresa">
  </mat-form-field>

  <mat-form-field appearance="outline" color="primary">
    <textarea formControlName="question" matInput placeholder="Postavite pitanje" rows="5"></textarea>
  </mat-form-field>

  <p class="error-message" *ngIf="errorMessage">
    *{{errorMessage}}
  </p>

  <button mat-raised-button color="primary" (click)="onSendOrder()">
    {{data ? 'Pošalji narudžbinu': 'Pošalji pitanje'}}
  </button>

</form>