@import "src/px-material-theme.scss";

.cart-wrapper {
  padding: 10px 20px;
}

.amount-dropdown {
  max-width: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

p.single-price {
  display: inline-block;
}

p.full-price {
  display: inline-block;
  font-weight: bold;
}


.product-row {
  margin: 10px 0;
  position: relative;
  border: 1px solid whitesmoke;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: whitesmoke;
  }
}

.product-image {
  text-align: left;
}

.product-info {
  display: inline-block;
  vertical-align: top;

  h3 {
    font-size: 20px;
    color: black;
    margin: 5px;
    max-width: calc(100vw - 400px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media #{$screen-sm} {
      max-width: calc(100vw - 100px);
    }
  }

}

img {
  vertical-align: top;
  height: 60px;
  width: 60px;
  margin: 5px;
  object-fit: contain;
}

mat-icon {
  color: rgb(253, 139, 139);
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover {
    color: red;
    transform: scale(1.35);
  } 
}

.order-button {
  margin: 10px 20px 30px;
}

.clear-button {
  margin: 10px 0 30px;
}

.empty-cart-message {
  margin: 10px 20px 30px;
}
