@import "src/px-material-theme.scss";

.cart-wrapper {
  padding: 10px 20px;
}

.amount-dropdown {
  max-width: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

p.single-price {
  display: inline-block;
}

p.full-price {
  display: inline-block;
  font-weight: bold;
  color: $px-material-primary;
}

.product-row {
  margin: 10px 0;
  position: relative;
  border: 1px solid whitesmoke;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: whitesmoke;
  }
}

.product-info {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;

  h3 {
    font-size: 20px;
    color: $px-material-primary;
    margin: 5px;
    max-width: calc(100vw - 400px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media #{$screen-sm} {
      max-width: calc(100vw - 100px);
    }
  }
}

img.product-image {
  text-align: left;
  vertical-align: top;
  height: 80px;
  width: 100px;
  margin: 5px;
  object-fit: contain;
}

.remove-button {
  color: rgb(253, 139, 139);
  position: absolute;
  top: 10px;
  right: 10px;
}

.order-button {
  margin: 10px 20px 30px;
}

.clear-button {
  margin: 10px 0 30px;
}

.empty-cart-message {
  margin: 10px 20px 30px;
}

.amount-field {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 5px;
  width: 60px;
  text-align: right;
  background: rgb(236, 250, 255);
}

.total-price {
  text-align: right;
  color: $px-material-primary;
  padding: 5px 20px 0 20px;
  margin: 0 10px 0 0;
}
