<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>

<div class="row sidemenu-height">

  <div class="col-sm-12 col-md-8 col-lg-9 pr0">

    <!-- Tolbar -->
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span class="toolbar-title">
          Moja korpa
        </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- Cart -->
    <div class="cart-wrapper">
      <div class="product-row"
           *ngFor="let product of productList">
        <mat-icon (click)="removeFromCart(product._id)"
                  title="Izbaci iz korpe"> close </mat-icon>

        <img class="product-image"
             *ngIf="product.image"
             [src]="product.image"
             [alt]="product.name" />
        <div class="product-info">
          <h3>{{product.name}}</h3>
        </div>
        <div>

          <mat-form-field class="amount-dropdown">
            <mat-label>Količina</mat-label>
            <mat-select [(ngModel)]="product.amount">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6</mat-option>
              <mat-option value="7">7</mat-option>
              <mat-option value="8">8</mat-option>
              <mat-option value="9">9</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="25">25</mat-option>
              <mat-option value="50">50</mat-option>
              <mat-option value="100">100</mat-option>
            </mat-select>
          </mat-form-field>
          ×
          <p class="single-price">{{showSinglePrice(product.price)}}</p>
          =
          <p class="full-price">{{calculatePrice(product)}}</p>
        </div>
      </div>
    </div>

    <!-- Order -->
    <button class="order-button"
            *ngIf="productList.length > 0"
            (click)="sendOrder()"
            mat-raised-button
            color="primary">Pošalji narudžbinu
    </button>
    <button class="clear-button"
            *ngIf="productList.length > 0"
            (click)="clearCart()"
            mat-raised-button
            color="warn">Isprazni korpu
    </button>

    <!-- Empty cart -->
    <div class="empty-cart-message"
         *ngIf="productList.length === 0">
      Trenutno nemate proizvode u korpi
    </div>

  </div>

  <!-- Side Menu -->
  <div class="col-sm-12 col-md-4 col-lg-3 sidemenu">
    <px-sidemenu></px-sidemenu>
  </div>

</div>
