.about-us-text {
	text-align: center;
	padding: 50px;
	p {
		padding: 5px 15px;
		text-align: justify;
		text-justify: inter-word;
	}
	ins {
		color: rgb(31, 194, 31);
	}
	div.list {
		padding: 5px 15px;
		text-align: left;
		text-justify: inter-word;
		&.center {
			text-align: center;
		}
		img {
			height: 80px;
			margin: 10px 20px;
		}
	}
}
