<!-- Navigation -->
<px-navigation-menu></px-navigation-menu>

<div class="row sidemenu-height">
	<div class="col-sm-12 col-md-8 col-lg-9 pr0">
		<!-- Tolbar -->
		<mat-toolbar color="accent">
			<mat-toolbar-row>
				<span class="toolbar-title">O Nama</span>
			</mat-toolbar-row>
		</mat-toolbar>
		<div class="about-us-text">
			<p>
				<strong>ElectroVision</strong> je firma u procesu osnivanja,
				vizija je da što povoljnije dobijete najkvalitetniju robu na
				tržištu.
			</p>
			<p>
				Tim ljudi koji radu u sklopu ElectroVision-a je sa
				<ins>višegodišnjim iskustvom</ins> u oblasti elektronike i
				elektronskih uređaja.
			</p>
			<p>
				Roba koju prodajemo i ugrađujemo je kao nova (nekorišćena) na
				koju dajemo <ins>garanciju</ins> uz naš potpis i garantni list.
			</p>
			<p>
				Naša najveća reklama je višegodišnja saradnja sa svim ljudima sa
				kojima smo imali poslovni kontakt.
			</p>
		</div>
	</div>

	<!-- Side Menu -->
	<div class="col-sm-12 col-md-4 col-lg-3 sidemenu">
		<px-sidemenu></px-sidemenu>
	</div>
</div>
