.about-us-text {
	text-align: center;
	padding: 50px;
	p {
		padding: 5px 15px;
		text-align: justify;
		text-justify: inter-word;
	}
	ins {
		color: rgb(31, 194, 31);
	}
	div.list {
		padding: 5px 15px;
		text-align: left;
		text-justify: inter-word;
		&.center {
			text-align: center;
		}
		img {
			height: 50px;
			margin: 10px 20px;
		}
		ul {
			list-style-type: none;
			margin-left: 30px;
		}
		li {
			display: flex;
			padding: 5px 15px;
			text-align: start;
			font-size: 16px;
			.tick {
				content: "✓ ";
				color: rgb(31, 194, 31);
				margin-right: 10px;
			}
		}
	}
}

.column {
	display: table-cell;
	@media screen and (max-width: 1300px) {
		display: table;
		ul {
			margin: 0;
		}
	}
}
