<footer>
    <div class="quick-info">
        <span> Jurija Gagarina 12a, 34000 Kragujevac </span>
        <span class="delimeter">|</span>
        <span class="small-screen-break"></span>
        <span> electrovisionkg@gmail.com </span>
        <span class="delimeter delimeter-small">|</span>
        <span> 064 306 95 92 </span>
        <span class="delimeter">|</span>
        <span class="small-screen-break"></span>
        <span class="social-icons">
            <a class="facebook"
                [href]="facebookLink"
                target="_blank">
                <img src="assets\icons\facebook.png"
                    alt="fb"
                    title="ElectroVision na Facebooku">
            </a>
        </span>
        <span class="delimeter delimeter-small">|</span>
        <span class="social-icons">
            <a class="instagram"
                [href]="instagramLink"
                target="_blank">
                <img src="assets\icons\instagram.png"
                    alt="in"
                    title="ElectroVision na Instragramu">
            </a>
        </span>
        <span class="delimeter delimeter-small">|</span>
        <span class="social-icons">
            <a class="gmail"
                [href]="gmailLink"
                target="_blank">
                <img src="assets\icons\gmail.png"
                    alt="gm"
                    title="Pošalji mejl">
            </a>
        </span>
        <span class="delimeter delimeter-small">|</span>
        <span class="social-icons">
            <a class="youtube"
                [href]="youtubeLink"
                target="_blank">
                <img src="assets\icons\youtube.png"
                    alt="yt"
                    title="ElectroVision na Youtube">
            </a>
        </span>
        <span class="delimeter delimeter-small">|</span>
        <a routerLink="/korpa">
            <mat-icon class="cart">shopping_cart</mat-icon>
        </a>
        <span class="delimeter delimeter-small">|</span>
        <a class="call"
            routerLink="/kontakt">
            <img src=" assets\icons\call.png"
                alt="call"
                title="Pozovi">
        </a>

    </div>
    <div class="copyright">
        © 2018 ElectroVision - All rights reserved.
        <span class="small-screen-break"><br></span>
        Developed by <span>Pixelarium</span>
    </div>
</footer>
