@import "src/px-material-theme.scss";

footer {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  background: $px-material-dark;
  color: white;
  box-shadow: inset 0 0 5px #616161;
}


.delimeter {
  display: inline-block;
  margin: 0 10px;
  color: rgb(246, 246, 246);
  @media #{$screen-sm} {
    display: none;
    &.delimeter-small {
      display: inline-block;
    }
  }
}

.copyright {
  margin-top: 10px;
}

.social-icons {
  img {
    height: 15px;
  }
}

.small-screen-break {
  display: none;
  @media #{$screen-sm} {
      display: block;
      height: 7px;
  }
}