<footer>
  <div class="quick-info">
    <span> Jurija Gagarina 12a, 34000 Kragujevac </span>
    <span class="delimeter">|</span>
    <span class="small-screen-break"></span>
    <span> electro.vision@gmail.com </span>
    <span class="delimeter delimeter-small">|</span>
    <span> 064 306 95 92 </span>
    <span class="delimeter">|</span>
    <span class="small-screen-break"></span>
    <span class="social-icons"> 
        <a class="facebook" href="https://www.facebook.com/mihajlo.jeremic" target="_blank">
            <img src="assets\icons\facebook.png" alt="fb" title="ElectroVision na Facebooku">
        </a> 
    </span>
    <span class="delimeter delimeter-small">|</span>
    <span class="social-icons"> 
        <a class="instagram"  href="https://www.instagram.com/mihajlo_jeremic/" target="_blank">
            <img src="assets\icons\instagram.png" alt="in" title="ElectroVision na Instragramu">
        </a>
    </span>
    <span class="delimeter">|</span>
    <span class="small-screen-break"></span>
    <span class="social-icons"> 
        <a class="gmail" href="mailto:mihajlo1994kg@gmail.com" target="_blank">
            <img src="assets\icons\gmail.png" alt="gm" title="Pošalji mejl">
        </a> 
    </span>
    <span class="delimeter delimeter-small">|</span>
    <span class="social-icons"> 
        <a class="youtube"  href="https://www.youtube.com/channel/UCoObKLXoCaL3VWkJeWoUOhw" target="_blank">
            <img src="assets\icons\youtube.png" alt="yt" title="ElectroVision na Youtube">
        </a>
    </span>
    <span class="delimeter delimeter-small">|</span>
    <span class="social-icons"> 
        <a class="kp"  href="https://www.kupujemprodajem.com/" target="_blank">
            <img src="assets\icons\kp.png" alt="kp" title="ElectroVision na KupujemProdajem">
        </a>
    </span>

  </div>
  <div class="copyright">
    © 2018 ElectroVision - All rights reserved. 
    <span class="small-screen-break"><br></span>
    Developed by <span>Pixelarium</span>
  </div>
</footer>