@import "src/px-material-theme.scss";

/* Roller */
.brand-roller {
    text-align: center;
    padding: 10px auto;
    box-shadow: 1px 12px 8px -7px lightgrey;
    background:  white;
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    height: 200px;
    @media #{$screen-sm} {
        height: 140px;
    }
    .brand-placeholder {
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        margin: 10px 0;
        vertical-align: top;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        max-width: 20%;
        @media #{$screen-lg} {
            max-width: 25%;
        }
        @media #{$screen-md} {
            max-width: 33%;
        }
        @media #{$screen-sm} {
            max-width: 33%;
        }
        @media #{$screen-xs} {
            max-width: 50%;
        }
        img {
            display: inline-block;
            vertical-align: middle;
            width: auto;
            height: auto;
            max-width: 70%;
            max-height: 100%;
        }
        @media #{$screen-sm} {
            margin: auto 5px;
            img {
                max-height: 100px;
                width: auto;
            }
        }
        &:hover img {
            transform: scale(1.1) rotate(-5deg);
            transition: 0.5s ease-out;
        }
    }
}

.left-right {
    animation: leftright 20s ease-in-out infinite;
}

@keyframes leftright {
    50% {
        transform: translate(300%, 0);
    }
}
